@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

:root{
    --color00: #FF5A13;
    --color01: #000DFF;
    --color02: #0FC4C4;
    --color04: #D9D9D9;
    --color05: #2e2e2e;
}