.section-aboutme{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutme-h1{
    width: fit-content;
    text-align: center;
    border: 1px solid red;
}

.aboutme-p{
    border: 1px solid red;
    width: fit-content;
    font-size: 1.2rem;
}