.section-aboutme{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color05);
    color: #FFFFFF;
}

.aboutme-h1{
    width: fit-content;
    text-align: center;
    margin: 0 0 20px 0;
}

.aboutme-p{
    width: 60%;
    font-size: 1.7rem;
}