.section-aboutme{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color05);
    color: #FFFFFF;
}

.aboutme-h1{
    width: fit-content;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: var(--fontTitle);
}

.aboutme-p{
    width: 60%;
    font-size: 1.7rem;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 490px) {        
    .aboutme-p{
        font-size: 1.2rem;
        width: 80%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
    .section-aboutme{
        height: 110vh;
    }

    .aboutme-h1{
        font-size: 4rem;
    }
    
    .aboutme-p{
        font-size: 2rem;
        width: 60%;
    }
}