.section-text-image{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 800px;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.h1-firstSection{
    font-size: 3rem;
    text-align: center;
    margin: 0 0 30px 0;
    color: var(--color02);
}

.gradient-text {
  background: linear-gradient(-120deg, var(--color01), var(--color02));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    gap: 10px;
    margin: 30px 0 0 0;
    width: 80%;
}

.button-media{
    width: 300px;
    padding: 10px;
    background-color: #FFF;
    border: 2px solid var(--color00);
    color: var(--color00);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-media:hover{
    cursor: pointer;
}

.github-button, .linkedin-button{
    transition: 0.2s ease-in-out;

}

.github-button:hover{
    background-color: #24292F;
    color: #FFF;
    border: 2px solid #24292F;
    transition: 0.2s ease-in-out;
}

.github-button:hover .icon {
    color: #FFF;
}


.linkedin-button:hover{
    background-color: #0A66C2;
    color: #FFF;
    border: 2px solid #0A66C2;
    transition: 0.2s ease-in-out;

}


@media screen and (min-width: 320px) and (max-width: 490px) {
    .section-text-image{
        width: 100%;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .h1-firstSection{
        font-size: 1.3rem;
    }

    img{
        width: 200px;
        height: 350px;
    }

    .buttons{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .button-media{
        width: 60%;
        border: none;
    }

    .linkedin-button{
        background-color: #0A66C2;
        color: #FFF;
    }

    .github-button{
        background-color: #24292F;
        color: #FFF;
    }
}