.section-text-image{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: 0.7s;
}

.section-text-image:hover h1{
    color: var(--color05);
}

img{
    width: 390px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

    margin: 0 0 50px 0;
}

.h1-firstSection{
    font-family: var(--fontTitle);
    font-size: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
    color: var(--color04);

    font-weight: 500;

    transition: 0.7s;
}


/* .gradient-text {
  background: linear-gradient(-120deg, var(--color01), var(--color02));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.buttons{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    gap: 10px;
    margin: 30px 0 0 0;
    width: 80%;
}

.button-media{
    width: 300px;
    padding: 10px;
    background-color: #FFF;
    /* border: 2px solid var(--color00); */
    color: var(--color00);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-media:hover{
    cursor: pointer;
}

.github-button, .linkedin-button{
    transition: 0.2s ease-in-out;

}

.linkedin-button{
    background-color: #0A66C2;
    color: #FFF;
}

.linkedin-button:hover{
    background-color: #063869;
}

.github-button{
    background-color: #24292F;
    color: #FFF;
}

.github-button:hover{
    background-color: #353a3f;
}



.github-button:hover .icon {
    color: #FFF;
}

@media screen and (min-width: 320px) and (max-width: 490px) {
    .section-text-image{
        width: 100%;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .h1-firstSection{
        font-size: 1.3rem;
    }

    img{
        width: 200px;
        height: 350px;
    }

    .buttons{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .button-media{
        width: 60%;
        border: none;
    }

    .linkedin-button{
        background-color: #0A66C2;
        color: #FFF;
    }

    .github-button{
        background-color: #24292F;
        color: #FFF;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
     .section-text-image{
        width: 100%;
        max-width: 1920px;
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    img {
        width: 290px;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
    }

    .button-media{
        width: 350px;
        max-width: 420px;
        height: 70px;
    }

    .github-button, .linkedin-button{
        font-size: 1.5rem;
    }

    .icon{
        font-size: 1.5rem;
    }

}