.section-projects{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--color01);
    margin: 20px 0 10px 0;
}

.projeto{
    transition: .3s;
}


.projeto:hover{
    filter: blur(2px);
    transition: .3s;
}

@media screen and (min-width: 320px) and (max-width: 490px) {    
    .div-projeto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
   .projeto{
        width: 90%;
        object-fit: cover;
   }
}