*,
*::before,
*::after {
  box-sizing: border-box;
}


.section-projects{
    width: 100%;
    height: fit-content;
    
    padding-block: 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: var(--fontTitle);
}

h2{
    color: var(--color01);
    margin: 0 0 0 10px;
}


.div-project {
    width: 100%;
    padding: 10px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* imagem */
.project {
    width: 80%;
    max-width: 1000px;

    border: 1px solid var(--color01);
    border-radius: 0;

    transition: 0.3s;
    display: block;
}

/* descrição */
.about-project {
    width: 80%;
    max-width: 1000px;

    border: 1px solid var(--color01);
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.button-acess-projects{
    width: 40%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-acess-projects a{
    padding: 10px;
    width: 225px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: var(--color01);
    border-radius: 25px;

    text-decoration: none;
    text-align: center;

    cursor: pointer;
    transition: .2s;
}

.button-acess-projects a:hover{
    background-color: var(--color05);
    transition: .2s;
}

.about-project > p{
    width: 100%;
    margin: 10px 0 0 10px;
}

.imageMap{
    width: 400px;
    height: 300px;
    border: 2px solid var(--color01);
    border-radius: 25px;
}

.displayMap{
    width: 70%;
    height: fit-content;
    border: 2px solid var(--color01);
    border-radius: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    padding-block: 10px;
    margin: 25px 0 25px 0;
}

@media screen and (min-width: 320px) and (max-width: 490px) {    
    .div-project{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
    .project{
        object-fit: cover;
    }

    .button-acess-projects{
        width: 100%;
        justify-content: flex-start;
        gap: 15px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.3rem;
        color: var(--color01);
        margin: 0 0 0 10px;
    }

    .about-project > p{
        font-size: 1.2rem;
    }
}