*,
*::before,
*::after {
  box-sizing: border-box;
}


.section-projects{
    width: 100%;
    height: fit-content;
    
    padding-block: 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--color01);
    margin: 0 0 0 10px;
}


.div-project {
    width: 100%;
    padding: 10px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* imagem */
.project {
    width: 80%;
    max-width: 1000px;

    border: 1px solid var(--color01);
    border-radius: 0;

    transition: 0.3s;
    display: block;
}

/* descrição */
.about-project {
    width: 80%;
    max-width: 1000px;

    border: 1px solid var(--color01);
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.button-acess-projects{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 10px;
}

.button-acess-projects button{
    padding: 10px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: var(--color01);

    cursor: pointer;
    margin: 10px 0 0 0;
}

.about-project > p{
    width: 100%;
    margin: 10px 0 0 10px;
}


@media screen and (min-width: 320px) and (max-width: 490px) {    
    .div-project{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
    .project{
        object-fit: cover;
    }

    .button-acess-projects{
        width: 100%;
        justify-content: flex-start;
        gap: 15px;
    }
}