.section-projects{
    width: 100%;
    height: fit-content;
    
    padding-block: 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--color01);
    margin: 0 0 0 10px;
}

.div-project{
    height: fit-content;
    padding: 10px;
    margin: 30px 0 0 0 ;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.project{
    transition: .3s;
    border: 1px solid var(--color01);
    border-radius: 0;
    width: 80%;
    max-width: 1000px;
}

.about-project{
    border: 1px solid var(--color01);
    height: fit-content;
    padding-block: 15px;
    width: 80%;
    max-width: 1000px;

    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

.button-acess-projects{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 10px;
}

.button-acess-projects button{
    padding: 10px;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: var(--color01);

    cursor: pointer;
    margin: 10px 0 0 0;
}

.about-project > p{
    width: 100%;
    margin: 10px 0 0 10px;
}


@media screen and (min-width: 320px) and (max-width: 490px) {    
    .div-project{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
   .project{
        width: 90%;
        object-fit: cover;
   }
}