.section-projects{
    width: 100%;
    height: fit-content;
    
    padding-block: 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--color01);
    margin: 0 0 0 10px;
}

.arrow{
    width: 25px;
    height: 25px;
    border: 1px solid red;

    margin: 0 30px 0 0;
    cursor: pointer;
}

.div-project{
    margin: 30px 0 0 0 ;
}

.project{
    transition: .3s;
    border: 1px solid var(--color01);
}

.about-project{
    border: 1px solid var(--color01);
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}




@media screen and (min-width: 320px) and (max-width: 490px) {    
    .div-project{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
      
   .project{
        width: 90%;
        object-fit: cover;
   }
}