.section-skills{
    width: 100%;
    height: 100vh;
    background-color: var(--color01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-skills h1{
    color: #FFFFFF;
    margin: 10px 0 0 0 ;
}

.div-stack{
    gap: 20px;
    width: 60%;
    height: 80%;
    display: grid;
    justify-content: center;
    margin: 10px 0 0 0 ;
    padding-block: 10px;

    
}

.div-stack img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 0 15px 0;
}

.stack{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;

    font-weight: bold;
    font-size: 1.3rem;
}

.figma-icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}