.section-skills{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-stack{
    border: 1px solid red;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}