.section-skills{
    width: 100%;
    height: 100vh;
    background-color: var(--color01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-skills h1{
    color: #FFFFFF;
    margin: 10px 0 0 0 ;
}

.div-stack{
    gap: 20px;
    width: 60%;
    height: 80%;
    display: grid;
    justify-content: center;
    margin: 10px 0 0 0 ;
    padding-block: 10px;
}

.div-stack img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 0 15px 0;
}

.stack{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    max-width: 650px;

    font-weight: bold;
    font-size: 1.3rem;
}

.figma-icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 490px)  {

    .section-skills h1{
        font-size: 1.3rem;
    }

    .div-stack{
        width: 90%;
    }

    .stack{
        width: 190px;
        font-size: 0.9rem;
    }
    
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
     .section-skills h1{
        font-size: 4rem;
    }

    .div-stack img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin: 0 0 15px 0;
    }
}