.section-skills{
    width: 100%;
    height: 100vh;
    background-color: var(--color01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-skills h1{
    color: #FFFFFF;
    margin: 10px 0 0 0 ;
    font-family: var(--fontTitle);
}

.div-stack{
    gap: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0 0 0 ;
    padding-block: 10px;
}

.div-stack .icon{
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin: 0 0 15px 0;
}

.stack{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 120px;
    max-width: 650px;

    font-weight: bold;
    font-size: 1.3rem;
}

@media screen and (min-width: 320px) and (max-width: 490px)  {

    .div-stack{
        width: 90%;
    }

    .stack{
        width: 190px;
        font-size: 0.9rem;
    }
    
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
     .section-skills h1{
        font-size: 4rem;
    }

    .div-stack .icon{
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 0 0 15px 0;
    }
}